<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap" rel="stylesheet">
    <title>NodeJS Crud</title>
</head>
<body style="font-family: 'Cinzel', serif;">
    <nav class="navbar navbar-dark bg-dark" style="padding-left: 20px;">
        <a href="/" class="navbar-brand">Crud en NodeJS con MySQL</a>
    </nav>
